@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

body {
    background-color: black;
}

header {
    height: 180px;
    width: 97%;

    display: flex;
    justify-content: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;


    background-color: rgb(234, 214, 243);
    border-radius: 20px;
}

#empresa {
    
    font-size: 120px;
    font-weight: bold;
    font-style: oblique;
}

#subtitle {
    font-size: 50px;
    font-weight: bold;

}

#homebuttom {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 190px;

    display: flex;
}

#addbuttom {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 190px;

    display: flex;

}


#addbuttom > img {
}

#configbuttom {


    display: flex;
    
}

#body {
    clear: both;
    height: 500px;

    position: relative;
    top: 190px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

}

aside {
    width: 30%;

    background-color: rgb(234, 214, 243);
    border-radius: 20px;
    box-shadow: 0 0 5px 3px purple;
}

article {
    width: 65%;


    background-color: aliceblue;
    border-radius: 20px;
    padding-bottom: 20px;
}

.pics {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.pics > img {
    transition: 2s;

    margin: 10px;
    border: 3px solid #ddd;
    padding:1px; 
    border-radius: 20px;
}

.pics > img:hover {
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 5px 10px purple;

    animation: shake 3s;
    animation-iteration-count: infinite;
}

aside > img {
    width: 50%;
    transform: translate(50%);

}

#viajando {
    background-color: aliceblue;
    border-style: dashed;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-color: purple;
    border-bottom-color: purple;
}

#viajando > p {
    font-family: ;
    font-size: 24px;
    font-weight: bolder;
    color: purple;
    
    padding: 10px;
    margin: 10px;

}

#viajando > h1 {    
    font-family: ;
    font-size: 32px;
    Color: black;

    text-align: center;
}

#editbuttom > img {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 190px;

}

#editbuttom > img:hover {
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 5px 10px purple;
    

}

#backbuttom > img {
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 190px;

    display: flex;
}

#backbuttom > img:hover {
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 5px 10px purple;
}

#buttom {

    background-color: rgb(234, 214, 243);
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    flex: 1 1 auto;

    margin-top: 50px;
}

